* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 1%;
  box-sizing: border-box;
  .head {
    background: url("././../../../assets/piano.avif");
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
  }
  .body {
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: #4d4d4d;
    .plays {
      .items {
        img {
          width: 20%;
        }
      }
    }
  }
}
