<div class="container">
  <div class="head"></div>
  <div class="body">
    <h1>Recently added</h1>
    <div class="plays">
      <div class="items">
        <img src="./../../../assets/c1.avif" alt="" class="pla" />
      </div>
      <div class="items">
        <img src="./../../../assets/c1.avif" alt="" class="pla" />
      </div>
      <div class="items">
        <img src="./../../../assets/c1.avif" alt="" class="pla" />
      </div>
      <div class="items">
        <img src="./../../../assets/c1.avif" alt="" class="pla" />
      </div>
    </div>
  </div>
</div>
