<div class="container">
  <div class="head"></div>
  <div class="body">
    <div class="item item1">
      <div class="holder"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui,
          reprehenderit?
        </p>
      </div>
    </div>
    <div class="item item2">
      <div class="holder"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
          officia.
        </p>
      </div>
    </div>
    <div class="item item1">
      <div class="holder"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui,
          reprehenderit?
        </p>
      </div>
    </div>
    <div class="item item2">
      <div class="holder"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
          officia.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- app.component.html -->
<div>
  <h2>Linked List:</h2>
  <ul>
    <li *ngFor="let node of linkedList.getAllNodes()">
      {{ node.data.id }} - {{ node.data.name }}
    </li>
  </ul>
  <button (click)="getAllNodes()">Get All Nodes</button>
</div>
