.container {
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 1%;
  .head {
    background: url("././../../../assets/piano.avif");
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
  }
}
