.container {
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 1%;
  .options {
    .home {
      width: 100%;
      height: 3rem;
      color: white;
      font-weight: 100;
      font-size: 24px;
      text-align: center;
      padding-top: 1rem;
    }
  }
}
